<div class="side-command">
 <div class = "user-name">
 <!--<a href="#">の部分が置き換わった-->
 <!--ログインしているユーザー名-->   <!--link_toのパスを指定している-->
 <!--rails routesで確認　prefixのところをパスのところに指定-->
 <%= link_to current_user.name, edit_user_path(current_user) %>
 </div>
 <div class="chat-link">
 <%= link_to "チャットを作成する" ,new_room_path %>
</div>
</div>
<div class="category">
<!--ログイン中のユーザー・roomsモデルのデータを１個ずつ呼び出す-->
<% current_user.rooms.each do|room| %>
  <div class="room">
   <div class = "room-name">
      <!--doで定めた|内|に１個ずつnameカラムを呼び出す-->
   <%= link_to room.name, room_messages_path(room) %>
   </div>
   </div>
   <% end %>
</div>