<div class="side-command">
 <div class = "user-name">
 <!--<a href="#">の部分が置き換わった-->
 <!--ログインしているユーザー名-->   <!--link_toのパスを指定している-->
 <!--rails routesで確認　prefixのところをパスのところに指定-->
 <%= link_to current_user.name, edit_user_path(current_user) %>
 </div>
 <div class="chat-link">
 <a href = "#">チャットを作成する</a>
</div>
</div>
<div class="category">
  <div class="room">
   <div class = "room-name">
   <a href = "#">techroom1</a>
   </div>
   </div>
   <div class="room">
   <div class="room-name">
   <a href = "#">techroom2</a>
   </div>
   </div>
</div>